@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,700;1,300&display=swap");

/**/
footer {
  width: 100%;
  min-height: 50px;
  background: #101820;
  display: flex;
  align-items: center;
  background-image: linear-gradient(183deg, #6f8695, transparent);
  color: white;
  justify-content: center;
  box-shadow: 0px 20px 20px 20px #515b64;
  position: absolute;
  bottom: 0;
  flex-direction: column;
}

footer > * {
  transform: scale(0.8);
}

/**/

body {
  background-color: #6f8695;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  font-family: "Merriweather", serif;
  margin: 0;
}
.loaded {
  opacity: 1;
}

.content {
  position: absolute;
  top: 50px;
  right: 0;
  left: 0;
  z-index: -10;
  min-height: 102vh;
}

.welcome {
  color: white;
  display: flex;
  margin: 10vw;
  text-align: center;
  flex-direction: column;
  font-size: 24px;
  margin-bottom: 30vh;
}

.welcome .nombre {
  font-size: 36px;
}
.welcome p {
  margin-top: 10vh;
}
.welcome > div {
  margin-top: 10vh;
  align-self: center;
  display: flex;
  justify-content: center;
  width: 50vw;
  flex-wrap: wrap;
}
.welcome div div {
  box-shadow: 0 0 3px 0 #101820;
  background-color: #515b64;
  border: 1px solid #101820;
  margin: 1vw;
  padding: 0.5vw 1vw;
  background-image: linear-gradient(60deg, #6f8695, transparent);
}
.welcome a:hover {
  color: #101820;
}
.welcome a {
  color: white;
  text-decoration: none;
}
/*PROYECTO*/

.GloboProyecto {
  color: white;
  border-radius: 25px;
  background-color: #101820;
  margin: 10vw;
  display: flex;
  box-shadow: 0 0 5px 0 #101820;
  font-size: 20px;
  flex-direction: row-reverse;
  justify-content: space-between;
  background-image: linear-gradient(60deg, #6f8695, transparent);
}

.GloboProyecto .proyectoInfo {
  padding-left: 40px;
  padding-bottom: 20px;
  padding-right: 40px;
  padding-top: 20px;
  width: 45vw;
  display: grid;
}

.GloboProyecto .proyectoImagen {
  max-width: 500px;
  border-radius: 25px;
  width: 40vw;
  background-color: #101820;
}

.enlaces {
  display: flex;
  justify-content: space-between;
  width: 85%;
  align-self: flex-end;
  margin-left: 20px;
  flex-wrap: wrap;
}

.enlaces a {
  text-decoration: none;
  color: #ffbd4a;
}
.enlaces p {
  color: white;
  border-radius: 5px;
  background-image: linear-gradient(50deg, #ffbd4a, #b9862d);
  margin-bottom: 0;
  height: 25px;
  margin-top: 0px;
  padding: 2px 10px;
  text-shadow: 0px 0px 5px #101820;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.proyectoInfo .nombre {
  font-size: 36px;
  margin: 20px 0px;
}

.GloboProyecto .nombreAuxiliar {
  color: white;
  display: none;
  align-self: flex-end;
  font-size: 20px;
  width: 60vw;
  margin-left: 5vw;
}
.GloboProyecto.proyecto-expand .nombreAuxiliar {
  display: none;
}

.GloboProyecto p:not(:first-of-type) {
  overflow: hidden;
  text-align: justify;
  line-height: 30px;
  margin-top: 0px;
}
.proyectoBtn {
  background: transparent;
  border: transparent;
  width: 100%;
  height: 100%;
  pointer-events: none;
  display: flex;
  border-radius: 25px;
  font-family: "Merriweather", serif;
}
.GloboProyecto .proyectoImagen svg {
  display: none;
}

.proyectoBtn img {
  display: none;
}
.GloboProyecto:last-of-type {
  margin-bottom: 30vh;
}

@media screen and (max-width: 1100px) {
  .GloboProyecto {
    flex-direction: column;
    max-height: 100%;
    margin-bottom: 10vh;
  }
  .GloboProyecto .proyectoImagen {
    height: 100vh;
    width: 100vw;
    max-height: 500px;
    max-width: -webkit-fill-available;
    border-radius: 25px;
  }
  .GloboProyecto .proyectoInfo {
    padding-left: 40px;
    padding-bottom: 20px;
    padding-right: 40px;
    padding-top: 20px;
    width: fit-content;
    display: grid;
  }
}

/*CONTACTO*/
.contacto {
  color: white;
  border-radius: 25px;
  background-image: linear-gradient(60deg, #6f8695, transparent);
  background-color: #101820;
  margin: 10vw;
  padding-left: 40px;
  padding-bottom: 20px;
  padding-right: 40px;
  padding-top: 20px;
  font-size: 32px;
  box-shadow: 0 0 5px 0 #101820;
  font-size: 24px;
  text-align: justify;
  margin-bottom: 20vh;
}
.contacto .nombre {
  font-size: 36px;
}

.contacto p {
  margin-bottom: 2vh;
  line-height: 35px;
}

/*GALERIA*/
.galeria {
  margin-top: 30px;
  min-height: 400px;
  color: white;
  margin-bottom: 25px;
}
.galeria p {
  margin-left: 3.2vw;
  font-size: 36px;
}

.galeria:last-of-type {
  margin-bottom: 30vh;
}

.contenedorImagenesGaleria {
  display: flex;
  overflow-x: hidden;
  margin-top: 10px;
  flex-wrap: wrap;
  padding-top: 5px;
}

.imagenGaleria {
  margin-bottom: 5vh;
  background-position: center;
  margin-left: 3.2vw;
  margin-right: 0.8vw;

  border-radius: 25px;

  width: 300px;
  height: 300px;
  max-width: 300px;
  max-height: 300px;
  box-shadow: 0 0 5px 0 #101820;
}
.imagenGaleria img {
  width: 300px;
  height: 300px;
  max-width: 300px;
  max-height: 300px;
  border-radius: 25px;
}
.imagenGaleria div {
  width: 300px;
  height: 300px;
  max-width: 300px;
  max-height: 300px;
  border-radius: 25px;
  background-image: linear-gradient(60deg, #6f8695, transparent);
  background-color: #101820;
}

@media screen and (max-width: 1428px) {
  .contenedorImagenesGaleria {
    justify-content: center;
  }
}

@media screen and (max-width: 1022px) {
  .galeria p {
    margin-left: 6vw;
  }
  .contacto p {
    font-size: 22px;
  }
}


@media screen and (max-width: 450px) {
  .contacto p.infoContacto {
    font-size: 16px;
  }

  .logo p {
    display: none;
  }

  .contacto {
    background-image: none;
    background-color: unset;
    font-size: 20px;
    box-shadow: 0 0 0 0 #101820;
    margin: 0px 0px 20vh 0px;
  }
  .contacto p.nombre {
    font-size: 26px;
  }
  .contacto p {
    font-size: 18px;
  }

  #info {
    font-size: 20px;
  }

  /*PROYECTO*/
  .GloboProyecto .nombreAuxiliar {
    display: block;
  }

  .proyecto {
    max-height: 350px;
  }

  .GloboProyecto .proyectoImagen {
    width: 100vw;
    max-height: 350px;
  }
  .proyectoBtn {
    color: #515b64;
    pointer-events: auto;
    background-image: linear-gradient(0deg, #101820, transparent, transparent);
  }

  .proyectoBtn img {
    display: block;
    right: 13vw;
    margin-top: 1vh;
    position: absolute;
    opacity: 0.8;
  }
  .GloboProyecto.proyecto-expand .proyectoInfo {
    display: flex;
    flex-direction: column;
  }
  .proyecto-expand .proyectoBtn {
    background-image: none;
  }

  .proyecto-expand .proyectoBtn img {
    display: none;
  }

  .GloboProyecto.proyecto-expand .proyectoImagen {
    position: fixed;
    background: none;
    z-index: 151;
    width: 30px;
    height: 30px;
    top: 72.5px;
    right: 20px;
  }
  .GloboProyecto.proyecto-expand .proyectoImagen svg {
    position: absolute;
    width: 32px;
    height: 32px;
    top: 0px;
    left: 0px;
    display: block;
  }

  .GloboProyecto .proyectoInfo {
    display: none;
    background: #101820;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 150;
    height: 102%;
    width: 81vw;
    background-image: linear-gradient(140deg, #6f8695, transparent);
  }
  .proyecto-content {
    width: 80vw;
    font-size: 2vh;
  }
  .proyectoInfo .enlaces {
    align-self: auto;
  }

  .proyectoInfo .nombre {
    margin-top: 50px;
    width: 70vw;
  }

  /*GALERIA*/
  .galeria p {
    margin-left: 8vw;
  }

  .imagenGaleria {
    margin-right: 5vw;
  }

  footer > * {
    transform: scale(0.5);
  }
}

/*MENU SUPERIOR*/

#logo {
  width: 40px;
  height: 40px;
}
.nav {
  width: 100%;
  height: 50px;
  background: #101820;
  display: flex;
  align-items: center;
  top: 0;
  position: fixed;
  right: 0;
  background-image: linear-gradient(45deg, #6f8695, transparent);
  box-shadow: 0px -20px 20px 20px #515b64;
}
.logo #margen {
  width: 5vw;
  max-width: 40px;
}
.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.logo a {
  display: contents;
}
.logo p {
  margin-left: 20px;
  color: white;
  text-shadow: 1px 1px 4px #ffbd4a;
}

#logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/**/
.proyectoImagen-1 {
  background-image: url("../img/tfg_1.jpg");
  background-size: cover;
  background-position: center;
}

.proyectoImagen-2 {
  background-image: url("../img/ClickHub.jpg");
  background-size: cover;
  background-position: center;
}
